@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body
{
    min-height: 1000px;    
}

.navbar-brand {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}

.nav-item {
    margin: 0px 15px;
    letter-spacing: 2px;
    font-weight: 300;
}

.jumbotron {
    min-height: 100vh;
    background-image: url('http://placekitten.com/2049/1152');
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.jumbotron h1 {
    font-size: 90px;
    font-weight:700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.jumbotron h1 span {
    color:#74f296;
}

.about {
    padding: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.sec {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.card-deck {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-gap: 30px; */
    /* max-width: 100%; */
    margin-top: 40px;
}

.card {
    align-items: center;
}

.card-deck .card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
    border: none;
}

.card-deck .card .card-img-top {
    margin-top: 25px;
}

.card-deck .card img {
    max-width: 70px;
    margin-bottom: 15px;
}

.card-deck .card .card-body h5{ 
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.stats {
    background: #000;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-top: -135px;
}
 
 .stats h3, .stats p {
     color: #fff;
 }

 .statBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statBox h2{
    color: #fff;
    font-size: 36px;
}

.statBox h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* 
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
