@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body
{
    min-height: 1000px;    
}

.navbar-brand {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}

.nav-item {
    margin: 0px 15px;
    letter-spacing: 2px;
    font-weight: 300;
}

.jumbotron {
    min-height: 90vh;
    background-image: url('http://placekitten.com/1500/700');
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.jumbotron h1 {
    font-size: 57px;
    font-weight:700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.jumbotron h1 span {
    color:#74f296;
}

.sec {
    padding: 50px 50px 50px 50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.mxw {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 33px;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.card-deck {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.card {
    align-items: center;
}

.card-deck .card {
    // width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
    border: none;
    margin-top: 20px;
}

.card-deck .card .card-img-top {
    margin-top: 25px;
}

.card-deck .card img {
    max-width: 70px;
    margin-bottom: 15px;
}

.card-deck .card .card-body h5{ 
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.stats {
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
 
 .stats h3, .stats p {
     color: #fff;
 }

 .statBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statBox h2{
    color: #fff;
    font-size: 36px;
}

.statBox h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.col-sm-4 {
    max-width: 25.3%;
}

.cardWork {
    margin: 0 auto;
    margin-top: 40px;
    width: 227px;
}

.cardWork .bodyBrand {
    background: #74f296;
    min-height: 300px;
    width: 227px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardWork .bodyBrand:hover {
    background: #000;
}

.cardWork .bodyBrand a {
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 14px;
}

h2 {
    font-size: 29px;
}

.cardWork .bodyBrand:hover a {
    color: rgba(255,255,255,1);
}

.teamCard .designerCard .card-img-top {
    /*position: absolute;*/
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.teamCard .designerCard .designerDetail {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamCard .designerCard:hover .designerDetail {
    opacity: 1;
}

.teamCard .designerCard .designerDetail .card-title {
    color: #fff;
    text-transform: uppercase;
    /* font-size: 20px; */
    letter-spacing: 1px;
}

.teamCard .designerCard .designerDetail h5 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

div.col-md-auto.teamCard {
    margin-top: 20px;
}

.contact {
    background: #000;
    color: #fff;
}

.nameMessage .form-group {
    margin: 0 20px
}

.textMessage {
    margin-right: -35px;
    margin-left: -35px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.btn {
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}

ul {
    padding-inline-start: 0px;
}

.iconFooter {
    margin: 50px 0;
}

.fab {
    margin: 0 17px;
    font-size: 40px;
    color: white;
}

a:hover {
    color: lightgray;
    // text-decoration: underline;
    opacity: 0.5;
}

.webFooter p small a.ancFooter {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.webFooter p small a:hover.ancFooter {
    color: dodgerblue;
}
/* 
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
